@font-face {
    font-family: "LCD";
    font-style: normal;
    font-weight: 400;
    src: url("https://res.cloudinary.com/noushadpp/raw/upload/v1534438826/projects-related/LCD.TTF") format("truetype");
}
