@import "../scss/main";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;

  button {
    cursor: pointer;
    width: 40px;
    font-size: 20px;
    padding: 5px;
    background-color: $grey;
    color: white;
    border: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 3px 3px 1px #111;

    &:active {
      border-top: 3px solid rgb(59, 58, 58);
      border-left: 3px solid rgb(59, 58, 58);
      padding-bottom: 4px;
      padding-top: 3px;
      box-shadow: 3px 2px 1px #111;
    }

    &:focus {
      outline: none;
    }
  }

  &.small {
    button {
      font-size: 16px;
    }
  }

  &.red {
    button {
      background-color: hsl(341, 34%, 46%);
      box-shadow: 1px 3px 5px #111;
    }
  }

  &.tall {
    button {
      height: 100%;
    }
  }

  &.withAddon {
    position: relative;

    &::after,
    &::before {
      position: absolute;
      content: "";
      background: tint($grey, 10%);
      width: 5px;
      height: 25px;
    }

    &::before {
      left: 0;
      border-radius: 5px 0 0 5px;
      border-right: 1px solid #111;
    }

    &::after {
      right: 0;
      border-radius: 0 5px 5px 0;
      border-left: 1px solid #111;
    }
  }
}
