<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8" />
    <title>React Retro Online Calculator</title>
    <meta name="description" content="Online Retro Calculator using ReactJs-Redux, HTML5, CSS3, SASS" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"
    />
</head>

<body>
	<div id="app"></div>
</body>

</html>
